body {
    font-family: 'Poppins', sans-serif;
    background-image: url('imge.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

.homepage-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 20px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

.social-icons {
    margin-top: 10px;
}

.icon {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
}

.icon:hover {
    background-color: #45a049;
}

.facebook {
    background-color: #3b5998;
}

.facebook:hover {
    background-color: #2d4373;
}

.youtube {
    background-color: red;
}

.youtube:hover {
    background-color: #a5201b;
}

.instagram {
    background-color: #e1306c;
}

.instagram:hover {
    background-color: #c0245e;
}

.logout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 1250px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #1a2b1ba4;
}
